* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {

  color: white;
  font-family: 'Audiowide', cursive;

}

body {
  background-color: #161819;
}

h1 {
  text-align: center;
  margin: 15px 0 15px 0;
}

.outer {
  text-align: center;
}


.grid-container>div {
  text-align: center;
}



.main-wrapper {
  display: flex;
  justify-content: space-around;
}

/* Volume Box*/
.volumeStuff {
  order: 3;
  width: 250px;
  padding-top: 3.5px;
}

.volume-stuff-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #323739;
  padding: 15px;
  border-radius: 10px;
  box-shadow: #101010 0px 5px 15px;
}



/* Level Box*/
.levelStuff {
  order: 1;
  width: 250px;
  padding-top: 3.5px;
}

.level-stuff-wrapper {
  background-color: #323739;
  padding: 15px 0 15px 0;
  border-radius: 10px;
  box-shadow: #101010 0px 5px 15px;
}

#passwordBox {
  width: 66%;
  font-size: 12px;
  margin: 15px 0 15px 0;
  padding: 3px 7px 3px 7px;
  border-radius: 12px;
  outline: none;
  border: none;
  box-shadow: rgba(16, 16, 16, 0.1) 0px 5px 15px;
  text-shadow: rgba(16, 16, 16, 0.1) 0px 5px 15px;
  font-family: 'Audiowide', cursive;
  background-color: #2b2a33;
  color: #6a6864;
}

#passwordButton {
  padding: 3px 7px 3px 7px;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #00cc00;
  color: white;
  box-shadow: rgba(16, 16, 16, 0.1) 0px 5px 15px;
  font-family: 'Audiowide', cursive;
  font-size: 12px;
}

#passwordButton:active {
  background-color: #009900;
}

#psw-lbl {
  font-size: 10px;
}

.main {
  order: 2;
}





/* Volume Slider */
input[type=range] {
  -webkit-appearance: none;
  background-color: #dddddd;
  /* margin-left: 10px; */
  margin-top: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 6px;
  background: #ddd;
  border: none;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #00ff00;
  margin-top: -5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* Firefox Slider */
.slider {
  height: 6px;
  background: #ddd;
  border: none;
  border-radius: 5px;
  width: 65%;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #00ff00;
  margin-top: -5px;

}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #00ff00;
  margin-top: -5px;

}