html{
    
    color: white;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #272727;
    opacity: 1;
    background-image:  radial-gradient(#d4d4d4 1.5px, transparent 1.5px), radial-gradient(#d4d4d4 1.5px, #272727 1.5px);
    background-size: 60px 60px;
    background-position: 0 0,30px 30px;
}

h1{
    text-align: center;
}

.outer{
    text-align: center;

}


.square{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0px;
    background-color: white;
    color: black;
    margin: auto;
    border: 1px solid black;
  }

.square:hover{
    background-color: aqua;
}




.slider {

    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}